# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.whl

# Database & models
data/
*.db
*.sqlite3
models/*.pt
models/*.onnx

# Training artifacts
dataset/
runs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db